<div id="carouselExampleSlidesOnly SLIDE_BG" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag bannerdrum.png , class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag bannerdrum.png , class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag bannerdrum.png , class: "d-block w-100" %>
    </div>
  </div>
</div>
