.SLIDE_BG {
  // height: 350px;
  background-image: linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%), asset-url("bannerdrum.png");
  background-size: cover;
  height: 75vh;
  padding-top: 25px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  object-fit: fit;
}


.SLIDE_BG img {
  height: 100%;
}

.SLIDE_BG h2 {
 font-family: 'Fondamento', cursive;
 font-size: 70px;
 text-decoration: underline;
}

