.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:10px;
  margin: 0px 16px 16px 16px;
  padding: 0px 16px 16px 16px;
}

// .cards img {
//   height: 300px;
//   width: 100%;
// }

.drum-card {
  width: 200px;
  height: 200px;
  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.3);
}

.drum-card:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: small;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 150px;
  .item-name {
    font-size: medium;
    font-weight: bold;
  }
}