.description {
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 5px;
  margin-top: 25px;
  border-radius: 3px;
}

.drum-pictures {
  margin-right: 10px;
  margin-top: 25px;
  padding-left: 10px;
}

.description p {
  margin: 30px;
}
