.navbar-drumstore {
  background-color: transparent!important;
  transition: 0.5s;
  font-size: 20px;
}


.navbar-drumstore a {
  color: white;
  font-family: 'Lora', serif;
}

.navbar-drumstore-black {
  background-color: black!important;
}

.navbar-drumstore-black a {
  color: white!important;
  transition:0.5s;
  font-family: 'Lora', serif;
}
